node_modules
/node_modules
/node_modules/
*/node_modules/*
authentication/
misc
.env
.DS_Store
.idea
.idea/*
/.idea
/python/libridex_venv
/python/libridex_venv/
/python/libridex_venv/*
/python/resources/libridex_venv
/python/resources/libridex_venv/
/python/resources/libridex_venv/*
/python
/python/*
python